<div class="container">
  <div  class="about-info">
    <p>
      ¡Hey! si llegaste hasta aquí es por que te llamo atención mi perfil como Front-end developer te invito a que me contactes y así podamos trabajar juntos ✌️💻
    </p>
    <h1>CARNORAT@GMAIL.COM</h1>
    <h2>3192340704</h2>
  </div>
  <div class="content-icons">
    <a href="https://www.linkedin.com/in/carlos-andr%C3%A9s-norato-g%C3%B3mez-1908b5200/" target="_blank">
      <img src="../../../assets/icons/icons8-linkedin.svg" alt="">
    </a>
    <a href="https://github.com/andresnorato" target="_blank">
      <img src="../../../assets/icons/icons8-github.svg" alt="">
    </a>
  </div>
</div>
