<div class="container section-proyects" id="proyects">
  <article>
    <figure>
      <a href="https://628e50b836534f007b37b868--keen-douhua-7389b7.netlify.app/" target="_blank">
        <img class="images-proyects" src="../../../assets/images/batatabit.jpg" alt="">
      </a>
      <figcaption>
        <h6>
          Batatabit es un sitio web estatico que me permite ver informacíon a cerca del bitcoin
        </h6>
      </figcaption>
    </figure>
  </article>
  <article>
    <figure>
      <a href="https://github.com/andresnorato/landing-page" target="_blank">
        <img class="images-proyects" src="../../../assets/images/landing-page.jpg" alt="">
      </a>
      <figcaption>
        <h6>
          Sitio web que consume la API de Youtube el cual carga my playlist
        </h6>
      </figcaption>
    </figure>
  </article>
  <article>
    <figure>
      <a href="https://store-platzi-1b69a.web.app/" target="_blank">
      <img class="images-proyects" src="../../../assets/images/yard.jpg" alt="">
    </a>
      <figcaption>
        <h6>Yard Sale sitio desarrollado en Angular el cual es un Ecommerce que me permite visualizar y poder generar
          una venta.</h6>
      </figcaption>
    </figure>
  </article>
</div>
