<div class="container section-proyects" id="proyects" >
  <article>
    <figure>
      <img class="images-proyects" src="../../../assets/images/batatabit.jpg" alt="">
      <figcaption>
        <h6>
          Batatabit es un sitio web estatico que me permite ver informacíon a cerca del bitcoin
        </h6>
      </figcaption>
    </figure>
  </article>
  <article>
    <figure>
      <img class="images-proyects" src="../../../assets/images/landing-page.jpg" alt="">
      <figcaption>
        <h6>
          Sitio web que  consume la API de Youtube el cual carga my playlist
        </h6>
      </figcaption>
    </figure>
  </article>
  <article>
    <figure>
      <img class="images-proyects" src="../../../assets/images/yard.jpg" alt="">
      <figcaption>
        <h6>Yard Sale sitio desarrollado en Angular el cual es un Ecommerce que me permite visualizar y poder generar una venta.</h6>
      </figcaption>
    </figure>
  </article>
</div>
