<div class="backg">
  <div class="container main">
    <div>
      <h2>FRONTEND DEVELOPER</h2>
      <p>Hola, mi nombre es <strong>Andres Norato</strong>
        <br>
        <br>
        Soy un desarrollador web y móvil colombiano, con más de un año de experiencia.
        He trabajado con empresas en el desarrollo de sus sitios web, plataformas corporativas con participación en el
        proceso de diseño y la experiencia del usuario, principalmente enfocado en el
        desarrollo front-end para productos digitales, me apasiona la tecnología, los retos y nunca parar de aprender.
        <br>
        <br>
        <a role="button" class="button-link secondary" routerLink="/proyects"> PORTAFOLIO
        </a>
        <a role="button" class="button-link" href="./../../../assets/static/CVANDRESGOMEZ.pdf" target="_blank"> DECARGAR
          CV
        </a>
      </p>
    </div>
  </div>
</div>
